<footer>
	<div class="container-fluid text-center">
		<h3>&copy; Rahul Wala 2018</h3>
	</div>
</footer>

<!-- jQuery and socket.io cdn's -->
<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>




